<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=yes" />
    <title> </title>
    <style type="text/css">
      html,
      body {
        width: 600px;
        height: auto;
        text-align: center;
        margin: auto;
        font-size: 16px;
        margin: 5px auto;
        padding: 0 !important;
        background: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif, "open sans", "helvetica neue",
          sans-serif;
      }

      #OBJECT {
        background-color: #01cbfd !important;
        text-align: left;
      }

      #CONTENUE {
        background-color: #ffffff !important;
        min-height: 250px;
        max-height: 250px;
        overflow: auto;
      }

      #PIED {
        background-color: #a02d9e !important;
        text-align: right;
      }

      .tableEspace {
        border-spacing: 20px;
        width: 100% !important;
      }

      #bodyTable {
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
        filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.3));
        border: 1px ridge rgba(0, 0, 0, 0.3);
        width: 600px !important;
      }
    </style>
  </head>

  <body>
    <center>
      <table cellpadding="0" cellspacing="0" id="bodyTable">
        <tr>
          <td align="center">
            <!-- OBJECT -->
            <table class="tableEspace" id="OBJECT">
              <thead>
                <tr>
                  <th>
                    {{{subject}}}
                  </th>
                </tr>
              </thead>
            </table>
            <!-- CONTENUE -->
            <table class="tableEspace" id="CONTENUE">
              <tbody>
                <tr>
                  <td width="30%" align="center">
                    {{{body}}}
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- PIED -->
            <table class="tableEspace" id="PIED">
              <tfoot>
                <tr>
                  <th colspan="1">
                    {{{user}}}
                  </th>
                </tr>
              </tfoot>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
