@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: rgba(74, 125, 207, 0.7) !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

#config {
  background-image: url("../assets/images/settings.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#login {
  background-image: url("../assets/images/user.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.home-inner {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  height: 75%;
}
.home-wysiwyg {
  border: 2px solid  rgba(74, 125, 207, 0.7);;
  border-radius: 15px;
  padding: 15px;
  height: 70%;
  overflow: auto;
}
.home-send {
  margin: 2% auto;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
.home-header {
  width: 100%;
  display: inline-flex;
}
.email , .sujet {
  margin: 2%;
  width: 50%;
}
.auth-wrapper .form-control:focus {
  border-color: rgba(74, 125, 207, 0.7);
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: rgba(74, 125, 207, 0.7);
}
